<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>fastfood</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>mail.smtp.host</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>mail.smtp.port</param-name>
		<param-value>587</param-value>
	</context-param>
	<context-param>
		<param-name>mail.smtp.username</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>mail.smtp.password</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>mail.smtp.from</param-name>
		<param-value></param-value>
	</context-param>

	<context-param>
		<param-name>mail.api.resend.key</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>mail.api.resend.from</param-name>
		<param-value></param-value>
	</context-param>

	<context-param>
		<param-name>app.baseUrl</param-name>
		<param-value></param-value>
	</context-param>

	<!-- Character Encoding Filter -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Servlet Mappings -->
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.fastfood.controller.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.fastfood.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>com.fastfood.controller.CartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/cart/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminProductServlet</servlet-name>
		<servlet-class>com.fastfood.controller.AdminProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminProductServlet</servlet-name>
		<url-pattern>/admin/products</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminProductServlet</servlet-name>
		<url-pattern>/admin/products/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminDashboardServlet</servlet-name>
		<servlet-class>com.fastfood.controller.AdminDashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDashboardServlet</servlet-name>
		<url-pattern>/admin/dashboard</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminCategoryServlet</servlet-name>
		<servlet-class>com.fastfood.controller.AdminCategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCategoryServlet</servlet-name>
		<url-pattern>/admin/categories/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminOrderServlet</servlet-name>
		<servlet-class>com.fastfood.controller.AdminOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminOrderServlet</servlet-name>
		<url-pattern>/admin/orders/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminUserServlet</servlet-name>
		<servlet-class>com.fastfood.controller.AdminUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUserServlet</servlet-name>
		<url-pattern>/admin/users/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.fastfood.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>PromotionServlet</servlet-name>
		<servlet-class>com.fastfood.controller.PromotionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PromotionServlet</servlet-name>
		<url-pattern>/promotions</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductServlet</servlet-name>
		<servlet-class>com.fastfood.controller.ProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/product</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductListServlet</servlet-name>
		<servlet-class>com.fastfood.controller.ProductListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductListServlet</servlet-name>
		<url-pattern>/products</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.fastfood.controller.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>

		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CheckoutServlet</servlet-name>
		<servlet-class>com.fastfood.controller.CheckoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckoutServlet</servlet-name>
		<url-pattern>/checkout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StatisticsServlet</servlet-name>
		<servlet-class>com.fastfood.controller.StatisticsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatisticsServlet</servlet-name>
		<url-pattern>/admin/statistics</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AboutServlet</servlet-name>
		<servlet-class>com.fastfood.controller.AboutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AboutServlet</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ContactServlet</servlet-name>
		<servlet-class>com.fastfood.controller.ContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactServlet</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ReviewServlet</servlet-name>
		<servlet-class>com.fastfood.controller.ReviewServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>ReviewServlet</servlet-name>
        <url-pattern>/review</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>com.fastfood.controller.ChatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminChatServlet</servlet-name>
        <servlet-class>com.fastfood.controller.AdminChatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminChatServlet</servlet-name>
        <url-pattern>/admin/chat</url-pattern>
    </servlet-mapping>
</web-app>
